html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;

    height: 100%;
}

.main-header{
    width: 100%;
    height: 100vh;

    background-image: url('../image/background.jpg');
    background-size: cover;
    position: relative;

}

.navigasi{
    width: 100%;
    height: 60px;
    background-color: #000;
    opacity: 0.70;

    padding-left: 20px;
    padding-top: 20px;
    color: #FFF;
    font-weight: bold;

    display: flex;
    font-family: 'Roboto';
    position: fixed;

}

.menu{
    color: #FFF;
    right: 0;

    overflow: hidden;
    float: right;
    margin-left: 50px;
}

.login{
    margin-left: 600px;
}

a{
    text-decoration: none;
    color: #FFFF;
    margin-right: 20px;
}

#home {
    height: 40vh;
    width: 100%;
    background-color: royalblue;
}
.content {
    text-align: center;
    padding: 200px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
    
}

.content p {
    font-size: 20px;
}

.boxplay {
    width: 150px;
    height: 40px;
    background-color: orange;
    text-align: center;
    padding-top: 25px;
    color: #000;
    font-size: 10px bold;
    

}
